<div class="d-grid portfolio">
    <!-- Editar columnas y tamaño de cada card -->
    <div>
        <div class="mb-2 img">
                <img
                src="assets\Portfolio.png"
                alt="Portfolio"
                />
        </div>
        <div>
                <div class="container text-start text-light">
                    <h3>Personal Portfolio</h3>
                    <h4>Task</h4>
                    <p>
                        To create a professional presentation and display my work to everyone, in this project you will find
                        information about me, my skills and examples of my work.
                    </p>
                    <div class="techs d-grid justify-content-center align-items-center mb-3">
                        <i class='bx bxl-angular'></i>
                        <i class='bx bxl-typescript' ></i>
                        <i class='bx bxl-bootstrap' ></i>
                        <i class='bx bxl-css3' ></i>
                    </div>
                    <div class="button">
                        <a
                            href="https://github.com/AlexAvilezB/Portfolio-2.1"
                            target="_blank"
                            class="card-link"
                            ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
                        >
                    </div>
                </div>
        </div>
    </div>

    <div>
        <div class="mb-2 img">
            <img
            src="assets\FireShot Capture 001 - A3IMS - localhost.png"
            alt="IMS"
            />
        </div>
        <div>
            <div class="container text-start text-light">
                <h3>Inventory Management System</h3>
                <h4>Task</h4>
                <p>
                    Build an IMS in Angular that consumes the data from an API deployed in MongoDB with NodeJS and ExpressJS to made CRUD functions for the info about products, categories and users. 
                </p>
                <div class="techs d-grid justify-content-center align-items-center mb-3">
                    <i class='bx bxl-angular'></i>
                    <i class='bx bxl-typescript' ></i>
                    <i class='bx bxl-nodejs' ></i>
                    <i class='bx bxl-mongodb' ></i>
                    <i class='bx bxl-tailwind-css'></i>
                    <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>JSON Web Tokens</title><path d="M10.2 0v6.456L12 8.928l1.8-2.472V0zm3.6 6.456v3.072l2.904-.96L20.52 3.36l-2.928-2.136zm2.904 2.112l-1.8 2.496 2.928.936 6.144-1.992-1.128-3.432zM17.832 12l-2.928.936 1.8 2.496 6.144 1.992 1.128-3.432zm-1.128 3.432l-2.904-.96v3.072l3.792 5.232 2.928-2.136zM13.8 17.544L12 15.072l-1.8 2.472V24h3.6zm-3.6 0v-3.072l-2.904.96L3.48 20.64l2.928 2.136zm-2.904-2.112l1.8-2.496L6.168 12 .024 13.992l1.128 3.432zM6.168 12l2.928-.936-1.8-2.496-6.144-1.992-1.128 3.432zm1.128-3.432l2.904.96V6.456L6.408 1.224 3.48 3.36Z"/></svg>
                    <i class='bx bxl-css3' ></i>
                    <i class='bx bxs-cloud-upload'></i>
                </div>
                <div class="button">
                    <a
                        href="https://github.com/AlexAvilezB/IMS-APP"
                        target="_blank"
                        class="card-link"
                        ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
                    >
                </div>
            </div>
        </div>
    </div>

</div>
