<div class="row g-3">
    <!-- Editar columnas y tamaño de cada card -->
    <div class="col">
        <div class="mb-2">
                <img
                src="/assets/FireShot Capture 001 - Portfolio2.1 - localhost.png"
                class="card-img"
                alt="..."
                />
        </div>
        <div>
                <div class="container text-start text-light">
                    <h3>Personal Portfolio</h3>
                    <h4>Task</h4>
                    <p>
                        To create a professional presentation and display my work to everyone, in this project you will find
                        information about me, my skills and examples of my work.
                    </p>
                    <h4>Technologies</h4>
                    <p>
                        This project was made using <span>Angular, TypeScript</span>, includes <span>JavaScript libraries like TypedJS</span>, the styles was made with <span>Bootstrap and Pure CSS</span> in some situations.
                    </p>
                    <div class="button">
                        <a
                            href="https://github.com/AlexAvilezB/Portfolio-2.1"
                            target="_blank"
                            class="card-link"
                            ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
                        >
                    </div>
                </div>
        </div>
    </div>

    <div class="col">
            <div class="mb-2">
                <img
                src="assets\FireShot Capture 001 - A3IMS - localhost.png"
                class="card-img"
                alt="..."
                />
        </div>
        <div>
                <div class="container text-start text-light">
                    <h3>Inventory Management System</h3>
                    <h4>Task</h4>
                    <p>
                        Build an IMS in Angular that consumes the data from an API deployed in JSON Server to made CRUD functions for the info about products, categories and users. 
                    </p>
                    <h4>Technologies</h4>
                    <p>
                        This project was made using <span>Angular</span>, includes <span>NPM packages like JSON-Server</span> for deploy and quick api endpoint to the info, the styles and animations was made with <span>Tailwind and Animate.css</span> but I use components from <span>Angular Material</span> for a better use experience actually I'm working in the Auth system for this project using <span>JWT</span> and deploy in a hosting.
                    </p>
                    <div class="button">
                        <a
                            href="https://github.com/AlexAvilezB/IMS-APP"
                            target="_blank"
                            class="card-link"
                            ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
                        >
                    </div>
                </div>
        </div>
    </div>

</div>
