.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  padding-top: 90px;
}

.container h1 {
  color: white;
  font-size: 50px;
  font-weight: 600;
}

.formbox {
  width: 700px;
}

p{
  color: white;
}

@media (max-width: 700px) {
  .formbox {
    width: 90%;
  }
}
