.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
}

.container h1 {
  color: #dddddd;
  font-size: 50px;
}

form {
  padding: 20px;
  width: 55%;
  text-align: left;
}

@media (max-width: 991px) {
  form {
    width: 100%;
    text-align: center;
  }
}

label,
p {
  color: white;
}

input,
textarea {
  width: 100%;
  box-shadow: 2px 2px #6fffe9;
}

textarea {
  height: 200px;
  margin-top: 13px;
}

button {
  box-shadow: 2px 2px #6fffe9;
  color: #6fffe9;
  border: #6fffe9 1px solid;
  transition: all 0.3s ease-in-out;
}

button:hover {
  box-shadow: 2px 2px black;
  color: black;
  border: black 1px solid;
  background-color: #6fffe9;
}
