<section id="contact" class="banner_wrapper">
  <div class="container text-center">
    <h1>Contact</h1>
    <p>If you want to include me into any project, contact me via:</p>
    <div class="container d-flex justify-content-center">
      <form
        name="contact"
        method="POST"
        action="https://formsubmit.co/aleantonio656@gmail.com"
      >
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input
          name="Name"
          type="text"
          class="form-control"
          id="exampleInputName"
          aria-describedby="emailHelp"
        />
        <br />
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          name="Email"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <br />
        <label for="exampleInputEmail1" class="form-label">Subject</label>
        <input
          name="Subject"
          type="text"
          class="form-control"
          id="exampleInputName"
          aria-describedby="emailHelp"
        />
        <br />
        <label for="exampleFormControlTextarea1">Your Message</label>
        <textarea
          name="Message"
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
        <br />
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
  </div>
</section>
