.banner_wrapper {
 padding: 0 30px;
}

.container h1 {
  color: #ffffe3;
  font-size: 50px;
  font-weight: 600;
}

.formbox {
  width: 700px;
}

p{
  color: #ffffe3;
}

@media (max-width: 700px) {
  .formbox {
    width: 90%;
  }
}
