<div
  id="carouselExampleFade"
  class="carousel slide carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/assets/FireShot Capture 001 - Portfolio2.1 - localhost.png"
        class="d-block mx-auto"
        alt="..."
      />
      <div class="carousel-caption d-md-block">
        <h5>Personal Portfolio</h5>
        <p>
          Portfolio of personal and professional presentation, in which you will
          find information about me and some samples of my work.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="https://github.com/AlexAvilezB/Portfolio-2.1/blob/master/src/assets/FireShot%20Capture%20002%20-%20Calculadora.png?raw=true"
        class="d-block mx-auto"
        alt="..."
      />

      <div class="carousel-caption d-md-block">
        <h5>Geometric Calculator</h5>
        <p>
          A tool in which you can perform different operations to determine
          certain data of triangles, squares and circles.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
