<div
  id="carouselExampleFade"
  class="carousel slide carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://previews.dropbox.com/p/thumb/ABleLPgaQwkPaV7aHLY7xV1rI6-_PJrEBQxP5Mh1jHkvqxEN07ffVENZpfXDXI_VrPWZG9fQOcKR37WNGmatqBI2x_KYm8GHB149XyOrGhMj1nCp6eBvowLq3rlxeUxXaeBOARL8fBNpmPpJvG_p5MqmKAmn5kDibWRal2cIAsnIzj8z8MMi0zf3BhXr3tkbv_ktlmGW4O9eU1jGZAGULI7F_xyjkZ5qE7QGGVY0hyRgWJDzVNhWuT8tHtob_YKNu-voxNItkLKs-tF_e8pnwHjdw9UCUI9BbD8kVXfPxeqCwSBslDTMd5nEUoX9UkMpoCngUBy_kfAYIQM3rtRKdZMB4wg-5fHHGSG-6Rnj9OS1-ez92h4n0O77Bg1TUtxOVdo/p.png"
        class="d-block mx-auto"
        alt="..."
      />
      <div class="carousel-caption d-md-block">
        <h5>Personal Portfolio</h5>
        <p>
          Portfolio of personal and professional presentation, in which you will
          find information about me and some samples of my work.
        </p>
      </div>
    </div>

    <div class="carousel-item">
      <img
        src="https://previews.dropbox.com/p/thumb/ABm9ptlWO2ILZxI0lVzR5zMZUgyPCpudr-ZIIzXwMPA7InrAz9qmcAq3aTRVKdivO5o2RrW_nOnve9ra7izaiDlDBFm2WvP98LV4am8F3iwhX99zVjmLXJ-RemfRpHe9a_IT_UdLeFeoObojTMuTy72BXFNY64_K1DF9A8kWBJqL_luTFeizadlgV7XcdiGg7llJI0cRThdjG5YqGWrdJSbHVNNFhHQfjRT7nmIdDBg_AqCBM0gHLoMA95g5h6g0nsum565gr7liS260SDZVgo5wSxsrik_kw6VfHS7r-HBRFh2mqpE3ubaLYNd67oHT15sm__Jeto3qw6W_1Vj-2x_XzC5nPnYJyPeWu5wyvc1CjSh2g4ybRxCacz9-E43Ap64/p.png"
        class="d-block mx-auto"
        alt="..."
      />

      <div class="carousel-caption d-md-block">
        <h5>Geometric Calculator</h5>
        <p>
          A tool in which you can perform different operations to determine
          certain data of triangles, squares and circles.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
