.banner_wrapper {
  display: flex;
  align-items: center;
  font-family: "Fira Code", monospace;
  height: 100vh;
}

.container h1 {
  color: #dddddd;
  font-size: 80px;
  margin-bottom: 30px;
}

.container p {
  color: #fff;
  font-size: 20px;
}

.container span {
  color: #6fffe9;
}

.container .photo img {
  width: 350px;
  height: 350px;
  border: 2px solid black;
  box-shadow: 60px 50px 5px 5px #6fffe9;
}
