<section id="about" class="banner_wrapper">
  <div class="container text-center">
    <h1>About</h1>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="container photo align-self-center">
      <img
        src="https://i.pinimg.com/564x/a1/68/69/a16869d6d6e552e9d67acaa81cd27e49.jpg"
        alt="photo"
      />
    </div>
    <div class="container">
      <p>
        My name is <span>Alejandro</span> and I am <span>20 years old</span>. I
        became interested in the world of development when I was 15 years old,
        which prompted me to decide to study
        <span>information systems engineering</span>, a career in which I am
        currently in my fourth year. Parallel to this, I am developing my skills
        for Front End development with <span>HTML, CSS</span> and
        <span>Angular</span> as my first Framework.
      </p>
    </div>
  </div>
</section>
