.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  height: 100vh;
  padding-bottom: 50px;
}

.container h1 {
  color: #dddddd;
  font-size: 60px;
  margin-bottom: 70px;
}

.container p {
  color: #fff;
  font-size: 20px;
  line-height: 40px;
}

.container span {
  color: #6fffe9;
}

.container .photo img {
  width: 350px;
  height: 350px;
}

@media (max-width: 991px) {
  .container {
    flex-direction: column;
  }
  .container p {
    font-size: 16px;
  }
  .container .photo img {
    display: none;
  }
}
