<section id="about" class="banner_wrapper">
  <div class="container text-center">
    <h1>About</h1>
  </div>
  <div class="container d-flex justify-content-center">
    <div class="container photo align-self-center">
      <img
        src="https://preview.redd.it/ht4eu3k0zgr31.png?auto=webp&s=6e38ef57cc6e7a92375fc39daad44b6cba6dbaf6"
        alt="photo"
      />
    </div>
    <div class="container">
      <p>
        My name is <span>Alejandro</span> and I am <span>20 years old</span>. I
        became interested in the world of development when I was 15 years old,
        which prompted me to decide to
        <span>study information systems engineering</span>, a career in which I
        am currently in my penultimate year. Parallel to this, I am developing
        my skills for Front End development with
        <span>HTML, CSS and Angular</span> as my first Framework.
      </p>
    </div>
  </div>
</section>
