<section id="about" class="banner_wrapper">
  <div class="container text-center">
    <h1>About</h1>
  </div>
  <div class="container d-flex justify-content-center align-items-center">
    <div class="photo align-self-center p-5">
      <img
        src="https://media.licdn.com/dms/image/D4E03AQGk2NDwaUKy-g/profile-displayphoto-shrink_800_800/0/1664922268769?e=1681344000&v=beta&t=kg8Fdgd90M3MB1YdzgFwas2u6mnyJpG0uI0NOwXTXWM"
        alt="photo"
      />
    </div>
    <div class="p-5">
      <p class="text-justify">
        My name is <span>Alejandro</span> and I'm <span>20 years old</span>. I
        became interested in the world of development when I was 15 years old,
        which prompted me to decide to study
        <span>information systems engineering</span>, a career in which I am
        currently in my fourth year. Parallel to this, I am developing my skills
        for Front End development with <span>HTML, CSS, Typescript</span> and
        <span>Angular</span> as my first Framework.
      </p>
    </div>
  </div>
</section>
