<header [ngClass]="show ? 'active' : ''">
  <ngx-typed-js
    class="typed"
    [backSpeed]="40"
    [loop]="true"
    [startDelay]="1000"
    [strings]="[
      'Welcome to my Portfolio.',
      'FrontEnd Developer.',
      'Think.',
      'Try different solutions.',
      'Break your limits',
      'Expand your knowledge'
    ]"
    >> <span class="typing"></span>
  </ngx-typed-js>
  <div class="hamburger" (click)="showNav()">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav class="nav-bar">
    <ul>
      <li class="nav-item">
        <a class="nav-link active" href="#about"><span>01.</span> About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#skills"><span>02.</span> Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects"><span>03.</span> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact"><span>04.</span> Contact</a>
      </li>
      <li class="nav-item">
        <a
          href="https://drive.google.com/file/d/1dlVjY-PJU1cVA6roohAG8KohadqzDtUc/view?usp=sharing"
          target="_blank"
        >
          <button type="button" class="btn btn-outline-info">Resume</button>
        </a>
      </li>
    </ul>
  </nav>
</header>
