header {
  height: 80px;
  padding: 0 50px;
  margin-top: 15px;
}

.ng-type {
  width: 210px;
}

.nav-bar ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-bar ul li {
  display: block;
  margin-right: 10px;
}

.nav-bar ul li a{
  font-size: 16px !important;
}

.typed {
  color: #6fffe9;
}

a span {
  color: #6fffe9;
}

.nav-link {
  color: #ffffe3;
  margin-right: 10px;
  transition: linear 0.2s;
}

.nav-link:focus {
  color: #6fffe9;
}

.nav-link:hover {
  color: #6fffe9;
}

.btn {
  color: #ffffe3;
  box-shadow: 2px 2px #6fffe9;
  color: #6fffe9;
  border: #6fffe9 1px solid;
  font-size: 14px;
}

.btn:hover {
  color: #000;
  background-color: #6fffe9;
  box-shadow: 2px 2px black;
  border: black 1px solid;
}

/* .coffee {
  color: #ffffe3;
  border-color: #FFEA71;
  box-shadow: 2px 2px #FFEA71;
  border: #FFEA71 1px solid;
}

.coffee:hover {
  color: #000;
  background-color: #FFEA71;
  box-shadow: 2px 2px black;
  border: black 1px solid;
} */

.toogler {
  font-size: 40px;
  display: none;
}

.nav-bar ul li a {
    font-size: 14px;
  }

  .active {
    transform: translateX(0%) !important;
    z-index: 1 !important;
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 700px) {

  .toogler {
    display: block;
  }

  .toogler:hover {
    cursor: pointer;
  }

  .nav-bar ul li {
    padding: 20px ;
    width: 100%;
  }

  .nav-bar .nav-list .nav-item:hover {
    background-color: #4A4E69;
    transition: .6s;
  }

  .nav-bar .nav-list {
    flex-direction: column;
    position: absolute;
    background: #22223b;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateX(-100%);
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }

  .nav-bar .nav-list li {
    padding-left: 35px;
  }
}

@media only screen and (max-width: 440px) {
  header {
    padding: 0 10px;
  }
}