<header class="d-flex w-100 align-items-center position-absolute justify-content-between">
    <div class="ng-type">
      <ngx-typed-js
          class="typed"
          [backSpeed]="40"
          [loop]="true"
          [startDelay]="1000"
          [strings]="[
            'Welcome to my Portfolio.',
            'FrontEnd Developer.',
            'Think.',
            'Try different solutions.',
            'Break your limits.',
            'Expand your knowledge.'
          ]"
          >> <span class="typing"></span>
        </ngx-typed-js>
    </div>
  <div class="nav-bar">
    <ul class="d-flex nav-list" [ngClass]="show ? 'active' : ''">
      <li class="nav-item">
        <a class="nav-link active" href="#about">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li>
        <a
          href="https://drive.google.com/file/d/1cc8X2k-NXKC9uHbT7wjd9UpdNnqaFBh5/view?usp=share_link"
          target="_blank"
        >
          <button type="button" class="btn btn-outline-info">Resume</button>
        </a>
      </li>
    </ul>
  </div>
  <div class="toogler" (click)="active()">
    <i class='bx bx-menu'></i>
  </div>
</header>
