nav {
  background-color: #141b30;
  font-family: "Fira Code", monospace;
}

a span,
.navbar-brand {
  color: #6fffe9;
}

.navbar-toggler {
  color: #6fffe9;
}

@media (max-width: 357px) {
  .navbar-toggler {
    width: 55px;
  }
}

.navbar-toggler span {
  color: #fff;
}

.nav-link {
  color: #fff;
  margin-right: 10px;
  transition: linear 0.2s;
}

.nav-link:focus {
  color: #6fffe9;
}

.nav-link:hover {
  color: #6fffe9;
}

.navbar-collapse {
  flex-grow: 0;
}

@media (max-width: 991px) {
  .nav-link {
    margin: 10px 0;
  }
  .btn {
    margin: 10px 0;
  }
  a span,
  .navbar-brand {
    font-size: 15px;
  }
}

.btn {
  color: #fff;
  border-color: #6fffe9;
}

.btn:hover {
  color: #000;
  background-color: #6fffe9;
}
