<div class="container-icons d-grid align-items-center justify-content-center">
    <a href="mailto:aleantonio656@gmail.com">
        <i class='bx bxs-envelope email'></i>
        <span>Email</span>
    </a>
    <a href="https://github.com/AlexAvilezB" target="_blank">
        <i class='bx bxl-github git'>
        </i>
        <span>Github</span>
    </a>
    <a href="https://www.linkedin.com/in/alejandroavilezb/" target="_blank">
        <i class='bx bxl-linkedin-square link'>
        </i>
        <span>LinkedIn</span>
    </a>
    <a href="https://www.instagram.com/lord_ishigami/" target="_blank">
        <i class='bx bxl-instagram-alt inst'>
        </i>
        <span>Instagram</span>
    </a>
</div>