.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  padding-bottom: 70px;
  height: 100vh;
}

.container h1 {
  color: #dddddd;
  font-size: 60px;
  margin-bottom: 50px;
}
