<section id="projects" class="banner_wrapper">
  <div class="container text-center">
    <h1>Projects I've Built</h1>
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <!-- Editar columnas y tamaño de cada card -->
      <div class="col">
        <div class="card h-100">
          <img
            src="/assets/FireShot Capture 001 - Portfolio2.1 - localhost.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Personal Portfolio</h5>
            <p class="card-text">
              Professional presentation portfolio, in which you will find
              information about me and some samples of my work.
            </p>
            <div class="button">
            <a
              href="https://github.com/AlexAvilezB/Portfolio-2.1"
              target="_blank"
              class="card-link"
              ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
            >
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="https://github.com/AlexAvilezB/Portfolio-2.1/blob/master/src/assets/FireShot%20Capture%20002%20-%20Calculadora.png?raw=true"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Geometric Tool</h5>
            <p class="card-text">
              A tool in which you can perform different operations to determine
              certain data of triangles, squares and circles.
            </p>
            <a
              href="https://alexavilezb.github.io/GeometricTool/"
              target="_blank"
              class="card-link"
              ><button type="button" class="btn btn-outline-info">See Live</button></a
            >
            <a
              href="https://github.com/AlexAvilezB/GeometricTool"
              target="_blank"
              class="card-link"
              ><button type="button" class="btn btn-source btn-outline-info">Source Code</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
