.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  padding-bottom: 70px;
}

.container h1 {
  color: #dddddd;
  font-size: 50px;
  margin-bottom: 50px;
}

.card {
  background-color: #141b30;
  border: 1px solid #6fffe9;
  box-shadow: black 10px 10px;
  color: white;
}
