.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  padding: 90px 0;
}

.container h1 {
  color: #dddddd;
  font-size: 50px;
  margin-bottom: 85px;
}

.card {
  background-color: #141b30;
  border: 1px solid #6fffe9;
  box-shadow: black 10px 10px;
  color: white;
}

@media (max-width: 950px) {
  .banner_wrapper {
    padding: 30px ;
  }
}