<div id="skills" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center">
    <h1>Skills</h1>
  </div>
  <div class="main_container d-flex justify-content-center position-relative">
    <div>
      <h3 class="text-center mb-5"> Tech Skills </h3>
      <div class="technologies p-3">
        <i class='bx bxl-html5'></i>
        <i class='bx bxl-css3'></i>
        <i class='bx bxl-javascript'></i>
        <i class='bx bxl-typescript'></i>
        <i class='bx bxl-nodejs'></i>
        <i class='bx bxl-angular'></i>
        <i class='bx bxl-bootstrap'></i>
        <i class='bx bxl-tailwind-css'></i>
      </div>
    </div>
    <div>
      <h3 class="text-center mb-5">DevTools</h3>
      <div class="tools p-3">
        <i class='bx bxl-visual-studio'></i>
        <i class='bx bxl-git'></i>
        <i class='bx bxl-github'></i>
        <i class='bx bxs-terminal'></i>
      </div>
    </div>
  </div>
</div>