.banner_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  padding: 90px 0;
}

.container h1 {
  color: #dddddd;
  font-size: 50px;
  margin-bottom: 85px;
}

.main_container {
  position: relative;
  width: 100%;
  justify-content: center;
  height: 370px;
  border-radius: 10px;
}

.card {
  position: relative;
  width: 26%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 10px;
  background-color: #6fffe9;
  margin: 0 20px;
  cursor: pointer;
  box-shadow: black 10px 10px;
}

.flipped1 {
  transform: rotateY(180deg);
}

.flipped2 {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  color: #fff;
  background: #1e293b;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: #fff;
  background: #1e293b;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.back p {
  margin-left: 30px;
  color: #6fffe9;
}

.back span {
  color: white;
}

svg {
  width: 150px;
  height: 150px;
  fill: #6fffe9;
  margin-bottom: 20px;
  filter: drop-shadow(5px 5px black);
}

.angular{
  width: 150px;
  height: 150px;
  fill: #ff0101;
  margin-bottom: 20px;
  filter: drop-shadow(5px 5px black);
}

@media (max-width: 950px) {
  .banner_wrapper {
    margin: 20% 0;
  }
  .banner_wrapper {
    padding: 30px 0;
  }
  .main_container {
    flex-direction: column;
    width: 85%;
    height: 820px;
    align-items: center;
  }
  .card {
    margin: 30px 0;
    width: 80%;
    height: 900px;
    font-size: 16px;
  }
  svg {
    width: 100px;
    height: 100px;
    fill: #6fffe9;
    margin-bottom: 20px;
    filter: drop-shadow(5px 5px black);
  }
}
