html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Synonym', sans-serif;
  color: #ffffe3;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #22223B;
}

h1, h2, h3 {
  font-family: 'Amulya', sans-serif;
}

p {
  font-size: 20px;
}

span {
  color: #6fffe9;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #22223B;
}

::-webkit-scrollbar-thumb {
  background-color: #F2E9E4;
}
